.navbar {
    background-color: var(--primary-color);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      justify-content: center;
      height: auto;
      padding: 10px;
    }
  }